.scroll-float {
  overflow: hidden;
}

.scroll-float-text {
  display: inline-block;
  font: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-align: inherit;
}

.char {
  display: inline-block;
}
